.widget-container {
  color: #333;
}

.candidato-card {
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  background: darkgrey;
  color: white;
  margin-bottom: 20px;
}

.candidato {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

.candidato-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  img {
    width: 100%;
  }
}

.candidato-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.candidato-name {
  font-weight: 700;
}

.candidato-porcentaje {
  font-weight: 900;
}

.candidato-partido {
  font-size: 12px;
}

.candidato-partido-lg {
  display: none;
}

/* Small Card (4th card) */
.candidato-card-sm {
  background: lightgreen;
}

/* Xtra Small Cards (5th 6th card) */
.candidato-card-xs {
  background: none;
  color: #333;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 10px;
  margin-bottom: 0;
}

.candidato-card-xs .candidato {
  grid-template-columns: 1fr;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.candidato-card-xs .candidato-img {
  display: none;
}

/* Media Queries */
@media (min-width: 940px) {
  .candidato-card {
    width: 260px;
    margin-right: 3%;
  }
  .candidato-card-sm {
    margin-bottom: 0;
  }
  .candidato-card-xs {
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .candidato {
      width: 45%;
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}
@media (min-width: 1140px) {
  .candidato-card {
    margin-right: 0;
    margin-bottom: 0;
    padding: 20px;
    .candidato {
      display: flex;
      align-items: flex-start;
    }
  }
  .candidato-card-lg {
    height: fit-content;
    .candidato-img {
      width: 90px;
      height: 90px;
    }
    .candidato-info {
      display: flex;
      flex-direction: column;
      text-align: right;
      .candidato-name {
        font-weight: 900;
        font-size: 20px;
        line-height: 35px;
        span {
          font-size: 35px;
        }
      }
      .candidato-porcentaje {
        font-size: 35px;
        line-height: 35px;
      }
    }
    .candidato-partido {
      display: none;
    }
    .candidato-partido-lg {
      display: block;
      border-top: 1px solid white;
      margin-top: 10px;
      padding-top: 10px;
    }
  }
  .candidato-card-sm {
    margin-bottom: 0;
    padding: 10px 10px 0;
    .candidato {
      display: flex;
      justify-content: space-between;
    }
    .candidato-img {
      width: 40px;
    }
    .candidato-porcentaje {
      margin-left: 10px;
    }
    .candidato-partido {
      font-size: 11px;
    }
  }
  .candidato-card-xs {
    width: 260px;
    margin: 0;
    padding: 0;
    display: block;
    .candidato {
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      .candidato-block {
        width: 100%;
      }
      .candidato-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .candidato-partido {
        font-size: 11px;
      }
    }
  }
}