.hero {
  @include interBlack($full-black, 50px);
  margin: 0 0 20px;
  @media #{$tablet}{
    @include interBlack($full-black, 80px);
    margin: 0 0 30px;
  }
}

h2 {
  @include interBlack($full-black, 20px);
  margin: 0 0 20px;
  @media #{$tablet}{
    @include interBlack($full-black, 24px);
    margin: 0 0 30px;
  }
}

p {
  margin: 0 0 20px;
}

.links {
  margin: 40px 0;
}

.linksBox {
  a {
    display: inline-block;
    margin: 0 15px 0 0;
    svg {
      filter: drop-shadow(0 0 6px #eaeaea);
    }
    path.lines {
      transition: all .2s ease;
      stroke: $links-logo;
      transform: translate(1px, 0px);
    }
    path.link {
      transition: all .5s ease;
      fill: $full-white;
      transform: rotate(0);
      transform-origin: center;
    }
  }
  a:hover {
    path.link {
      fill: $links;
      transform: rotate(180deg);
      stroke: none;
    }
  }
}

footer {
  text-align: center;
  p {
    display: inline-block;
    width: 50px;
  }
}

footer.fixed {
  p {
    text-align: center;
    position: absolute;
    width: 50px;
    margin: 0 auto;
    display: inline-block;
    bottom: 30px;
    left: 50%;
    margin-left: -25px;
  }
}

.switchBox {
  position: absolute;
  top: 30px;
  right: 0;
  width: auto;
  cursor: pointer;
  span {
    display: inline-block;
    margin: 0 0 0 8px;
    position: relative;
    &.switch {
      top: -2px;
    }
    &.dark {
      top: -2px;
    }
    &.light {
      top: 1px;
    }
    path {
      transition: all .2s linear;
    }
  }
}
