.hero {
  @include interBlack($primary-text, 50px);
  margin: 0 0 20px;
  @media #{$tablet}{
    @include interBlack($primary-text, 80px);
    margin: 0 0 30px;
  }
}

h2 {
  @include interBold($primary-text, 20px);
  margin: 0 0 20px;
  @media #{$tablet}{
    @include interBold($primary-text, 24px);
    margin: 0 0 20px;
  }
}

h3 {
  @include interBold($primary-text, 16px);
  margin: 0 0 10px;
  @media #{$tablet}{
    @include interBold($primary-text, 18px);
    margin: 0 0 10px;
  }
  &.title {
    margin: 0;
  }
}

small {
  @include interBold($medium-dark-grey, 12px);
  margin: 5px 0 10px;
  display: block;
  @media #{$tablet}{
    @include inter($medium-dark-grey, 14px);
  }
}

p {
  margin: 0 0 40px;
  a {
    color: $darker-grey!important;
  }
}

.skills-used {
  margin: 10px 0 10px 20px;
  li {
    margin: 0 0 10px;
    list-style-type: circle;
  }
}

.links {
  margin: 40px 0;
}

.nav {
  position: absolute;
  top: 60px;
  text-align: right;
  right: 0;
  @media #{$desktop}{
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    margin-left: -290px;
    top: 230px;
    display: inline-block;
    text-align: right;
    padding: 0 20px 0 0;
    border-right: 2px solid $grey-borders;
  }
  a {
    @include interBold($medium-dark-grey, 12px);
    text-transform: uppercase;
    display: block;
    margin: 5px 0;
    &.active {
      @include interBold($blue, 12px);
      &:hover {
        @include interBold($blue, 12px);
      }
    }
    &:hover {
      @include interBold($full-black, 12px);
    }
  }
}

footer {
  display: none;
  text-align: center;
  p {
    display: inline-block;
    width: 50px;
  }
}

footer.fixed {
  p {
    text-align: center;
    position: absolute;
    width: 50px;
    margin: 0 auto;
    display: inline-block;
    bottom: 30px;
    left: 50%;
    margin-left: -25px;
  }
}

.switchBox {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  cursor: pointer;
  display: none;
  span {
    display: inline-block;
    margin: 0 0 0 8px;
    position: relative;
    &.switch {
      top: -2px;
    }
    &.dark {
      top: -2px;
    }
    &.light {
      top: 1px;
    }
    path {
      transition: all .2s linear;
    }
  }
}

// CARDS
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  .card {
    background: $links;
    border-radius: 16px;
    border: 1px solid rgba(210, 210, 210, 0.49);
    width: 200px;
    margin: 0 40px 40px 0;
    cursor: pointer;
    .card-image {
      width: 200px;
      height: 200px;
      img {
        border-radius: 16px 16px 0 0;
        width: 100%;
      }
    }
    .card-copy {
      padding: 10px 20px 0;
      span {
        @include interBold($primary-text, 14px);
        display: inline-block;
        margin-bottom: 2px
      }
      h3 {
        @include inter($primary-text, 18px);
      }
    }
    &:hover {
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
    }
  }
}

// CASE STUDIES
.case-study {
  margin: 50px 0 60px;
  padding: 0 0 0 20px;
  border-left: 4px solid $grey-borders;
  cursor: pointer;
  &.no-link {
    cursor: initial;
  }
  &:hover {
    border-left: 4px solid $blue;
  }
  h4 {
    margin-bottom: 20px;
    font-weight: normal;
  }
  .case-box {
    width: 220px; 
    border: 1px solid $grey-borders;
    box-shadow: 0 0 2px $shadow;
    margin: 20px 26px 20px 0;
    @media #{$tablet}{
      float: left;
    }
    &:last-child {
      margin: 0;
    }
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .case-box-big-with-link {
    width: 100%; 
    float: none;
    border: 1px solid $grey-borders;
    box-shadow: 0 0 2px $shadow;
    margin: 40px 26px 20px 0;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
    span {
      display: none;
    }
    small {
      display: block;
      text-align: center;
      margin-top: 0;
      position: absolute;
      top: 35%;
      text-transform: uppercase;
      padding: 10px 0;
      background: grey;
      left: 50%;
      margin-left: -120px;
      width: 240px;
      @include interBold($full-white, 14px);
    }
    @media #{$tablet}{
      span {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        background: $full-black;
        opacity: 0.333;
      }
      small {
        display: block;
        text-align: center;
        margin-top: 0;
        position: absolute;
        top: 43%;
        text-transform: uppercase;
        padding: 10px 0;
        background: grey;
        left: 50%;
        margin-left: -150px;
        width: 300px;
        @include interBold($full-white, 16px);
      }
    }
    @media #{$desktop}{
      span, small {
        display: none;
      }
      &:hover {
        span {
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          background: $full-black;
          opacity: 0.333;
        }
        small {
          display: block;
          text-align: center;
          margin-top: 0;
          position: absolute;
          top: 43%;
          text-transform: uppercase;
          padding: 10px 0;
          background: grey;
          left: 50%;
          margin-left: -150px;
          width: 300px;
          @include interBold($full-white, 16px);
        }
      }
    }
  }
  small {
    margin: 10px 0;
    display: block;
    @include inter($negative, 18px);
  }
}