.content.daily-ui-challenge {
  h3 {
    @include inter($full-black, 16px);
    margin: 0 0 10px;
    @media #{$tablet}{
      @include inter($full-black, 18px);
      margin: 0 0 10px;
    }
    &.title {
      margin: 50px 0 10px;
    }
  }

  .cards-container {
    margin: 50px 0;
  }
  
  .case-study-display {
    width: auto;
    text-align: center;
    padding: 30px 0;
    margin: 50px 0;
    img {
      border-radius: 16px;
      width: auto;
    }
  }
}