body {
  transition: all .5s ease;
  background: $full-white;
  @include inter($primary-text, 16px);
  a {
    @include interBold($primary-text, inherit);
  }
}

a {
  text-decoration: none;
  &:visited {
    @include interBold(inherit, inherit);
  }
}

.container {
  width: calc(100% - 40px);
  max-width: 768px;
  position: relative;
  margin: 20px auto;
  @media #{$tablet} {
    margin: 60px auto 60px;
  }
}
